<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CatchOfTheDay Developer Exam{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/catchofthedaydevexam/css/lib/bootstrap/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/catchofthedaydevexam/css/lib/bootstrap/bootstrap-theme.min.css') }}" />
    {% endblock stylesheets %}

    {% block javascripts %}
        <script src="{{ asset('bundles/catchofthedaydevexam/js/lib/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/catchofthedaydevexam/js/lib/bootstrap/bootstrap.min.js') }}"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.dev.js'> </script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js'></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="{{ asset('bundles/catchofthedaydevexam/js/lib/vue/vue-toasted.min.js?ver=5.2.2') }}"></script>
    {% endblock javascripts %}
</head>

<body>

{% block body %}{% endblock body %}
</body>
</html>